@import "src/constants/styles";

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./iconFont.woff2) format("woff2");
}
.datepickerConteinr .material-icons.md-icon {
  display: none;
}

.datepickerConteinr {
  @import "~react-md/src/scss/react-md";

  @include react-md-everything;

  h3 {
    color: $red;
    width: 100%;
    white-space: normal;
    font-weight: 600;
  }
  width: 300px;
  margin-top: 16px;
  & > div {
    width: 100%;
    & > div {
      width: 100%;
      & > div {
        width: 100%;
        & > div {
          width: 100%;

          & > hr[class^="md-divider"] {
            background: $blue;
          }
        }
      }
    }
  }
  .md-floating-label--floating,
  .md-floating-label--icon-offset {
    left: 6px;
    font-size: $labelFont;
    top: -7px;
  }
  .md-text-field--floating-margin {
    padding-left: 6px;
  }
  .md-text-field-icon + .md-text-field-divider-container {
    margin-left: 0;
  }
  .md-floating-label.md-floating-label--floating {
    font-size: $labelFontSmall;
    color: $lightBlue;
    transform: translate3d(0, 0px, 0);
  }
  .md-picker--inline-icon {
    left: 0;
  }
  /* fallback */

  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
}
.datepickerConteinr .md-text-field--floating-margin {
  margin-top: 33px;
}
@media screen and (max-width: 1024px) {
  .datepickerConteinr .md-text-field--floating-margin {
    margin-top: 30px;
  }
}
