@import "src/constants/styles";

.navbarContainer {
  background: $lightBlue;

  .headWrapper {
    max-width: $containerMaxWidth;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div,
    & > nav {
      width: 50%;
    }
  }
}
.logoContainer {
  text-align: left;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.navbar {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 20px;

  li {
    margin-right: 10px;

    a {
      text-decoration: none;
      color: black;

      &.activeLink {
        color: #fff;
      }
    }
  }
}
